{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
<link href="/static/css/profile.css" rel="stylesheet">
<link rel="stylesheet" href="/static/linericon/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<style>
 .special{
     text-align: left;
     color:white;
     margin-top:19px;
     margin-bottom:8px;
 }

 .radioLeft{
    text-align:left;
 }
</style>
{% endblock %}
{% block body %}

<div>    

    <h1>HTML Multiple choice questions (MCQ's)</h1>
    <p class="special"><strong>Q1. HTML stands for ? (2 points)</strong></p>
        <div class="radioLeft">
            <input checked="checked" name="CalendarType" value="1" type="radio"><b>HighText Machine Language </b><br>
            <input checked="checked" name="CalendarType" value="2" type="radio"><b>HyperText and links Markup Language </b><br>
            <input checked="checked"  name="CalendarType" value="3" type="radio"><b>HyperText Markup Language</b><br>
            <input checked="checked"  name="CalendarType" value="3" type="radio"><b>None of these</b> <br>
        </div>

    <p class="special"><strong>Q2. The correct sequence of HTML tags for starting a webpage is - (2 points)</strong></p>
        <div class="radioLeft">
            <input checked="checked"  name="CalendarType" value="1" type="radio"><b>Head, Title, HTML, body </b><br>
            <input checked="checked"  name="CalendarType" value="2" type="radio"><b>HTML, Body, Title, Head </b><br>
            <input checked="checked"   name="CalendarType" value="3" type="radio"><b>HTML, Head, Title, Body</b><br>
            <input checked="checked"   name="CalendarType" value="3" type="radio"><b>HTML, Head, Title, Body</b> <br>
            </div>

    <p class="special"><strong>Q3. Which of the following tag is used for inserting the largest heading in HTML? (2 points)</strong></p>
            <div class="radioLeft">
                <input checked="checked"  name="CalendarType" value="1" type="radio"><b>H3 Tag </b><br>
                <input checked="checked"  name="CalendarType" value="2" type="radio"><b>H1 Tag </b><br>
                <input checked="checked"   name="CalendarType" value="3" type="radio"><b>H5 Tag</b><br>
                <input checked="checked"   name="CalendarType" value="3" type="radio"><b>H6 Tag</b> <br>
            </div>

    <p class="special"><strong>Q4. What are the types of unordered or bulleted list in HTML? (2 points)</strong></p>
            <div class="radioLeft">
                <input checked="checked"  name="CalendarType" value="1" type="radio"><b>disc, square, triangle</b><br>
                <input checked="checked"  name="CalendarType" value="2" type="radio"><b>polygon, triangle, circle</b><br>
                <input checked="checked"   name="CalendarType" value="3" type="radio"><b>disc, circle, square</b><br>
                <input checked="checked"  id="message" name="CalendarType" value="3" type="radio"><b>All of the above</b> <br>
            </div>

            <button type="button" class="btn btn-primary btn-block">Submit</button>

</div>
<script>
    let textBox = document.getElementById('message');
    textBox.addEventListener('keydown', (event) => {
        if(event.code == 'KeyS')
            window.alert("Eyes Deviation Detected !");

    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% endblock %}